{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mt-3">¡Sobre Nosotros!</h2>
<div class="container text-center text-justify my-4">
  <p>
    El flan es un postre clásico que se ha disfrutado en diversas culturas alrededor del mundo. Su origen se remonta a
    la antigua Roma, donde se preparaba con huevos y leche, pero con el tiempo ha evolucionado y se ha adaptado a
    diferentes tradiciones culinarias. Se caracteriza por su textura suave y cremosa, que se obtiene al cocinar
    una mezcla de huevos, leche y azúcar, y luego hornearla a baño maría. Generalmente se sirve con un caramelo
    líquido que le da un toque dulce y un contraste de sabores.
    Existen muchas variaciones del flan, como el flan de coco, flan de café, o flan de queso. Cada región tiene su
    propia versión, lo que lo convierte en un postre versátil y adaptable. En América Latina, el flan es un postre
    muy apreciado en celebraciones y reuniones familiares. Su sencillez y la posibilidad de prepararlo con
    antelación lo hacen ideal para cualquier ocasión.
  </p>
</div>
{% endblock %}