{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; 
            text-align: justify;
            margin-left: 300px; 
            margin-right: 300px;
            margin-top: 20px;
            margin-bottom: 20px;">

    <p>¡Bienvenido a nuestro sitio de Flanes! Estamos encantados de que estés aquí. Descubre nuestra amplia selección de
        flanes, desde los tradicionales hasta las versiones más creativas. Regístrate para acceder a promociones
        exclusivas y novedades. ¡Prepárate para endulzar tu día con nuestros irresistibles postres!</p>
</div>

{% endblock %}