body{
    font-family:cursive;
    background-color: bisque;
    margin-left: 100px;
    margin-right: 100px;
}

footer{
    text-align: center;
    background-color: gray;
}

.testimonios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.testimonio-card {
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 300px; /* Ancho fijo */
    margin: 10px; /* Margen */
}
